
<html>
<head>
  <meta charset="UTF-8">
  <title>Главная страница</title>
  <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
  <form action=""
        method="POST"
        class="form">

    <h1 class='form_title'>Weather by city name</h1>
    <div class='form_group'>
      <input
        type="text"
        placeholder="Enter your city"
        name="user_city"
        id="user_city">
    </div>
  </form>
  <form>
    <div class='moscow_weather'>
      <h1 class='moscow_title'>Weather in Moscow</h1>
      <h2 class='moscow_information'>Temperatue: 0.3</h2>
      <h2 class='moscow_information'>Feels like: -1.35</h2>
      <h2 class='moscow_information'>Humidity: 96</h2>
      <h2 class='moscow_information'>Wind speed: 1.46</h2></div>

    <div class='london_weather'>
      <h1 class='london_title'>Weather in London</h1>
      <h2 class='london_information'>Temperatue: 7.18</h2>
      <h2 class='london_information'>Feels like: 4.23</h2>
      <h2 class='london_information'>Humidity: 85</h2>
      <h2 class='london_information'>Wind speed: 4.63</h2></div>
    <div class='abu_dabi_weather'>
        <h1 class='abu_dabi_title'>Weather in<br>
           Абу-Даби</h1>
        <h2 class='abu_dabi_information'>Temperatue: 22.95</h2>
        <h2 class='abu_dabi_information'>Feels like: 22.84</h2>
        <h2 class='abu_dabi_information'>Humidity: 59</h2>
        <h2 class='abu_dabi_information'>Wind speed: 2.57</h2></div>
    <div class='berlin_weather'>
        <h1 class='berlin_title'>Weather in Берлин</h1>
        <h2 class='berlin_information'>Temperatue: 22.95</h2>
        <h2 class='berlin_information'>Feels like: 22.84</h2>
        <h2 class='berlin_information'>Humidity: 59</h2>
        <h2 class='berlin_information'>Wind speed: 2.57</h2></div>
  </form>
  <form action="http://127.0.0.1:5000/weather" method="get"  class='form_button'>
    <button id="button">Показать информацию</button>
  </form>

    </body>
</html>
