<html>
    <head>
      <meta charset="UTF-8">
      <title>information</title>
      <link rel="stylesheet" href="../static/css/city_info_styles.css">

    </head>
    <body>
      <form action=""
            method="POST"
            class="form">

        <h1 class='form_title'>Some information about Котлас</h1>
        <p>Ко́тлас — город (с
1917 г.) в
Архангельской
области России.
Административный
центр Котласского
района (в состав
которого не входит)
и городского округа
Котлас. Население —
56 122 чел. (2023).
Город расположен в
районе впадения
Вычегды в Малую
Северную Двину, в
600 км от
Архангельска. Через
город проходит
федеральная
автодорога А-123.
== Этимология ==
Гродо изначально
возник как посёлок
при станции Котлас.
Ойконим образован по
реке Котлас (через
город также
протекает река
Котлашанка). В свою
очередь название
реки имеет финно-
угорское
происхождение, о чем
свидетельствует
элемент -лас,
образовавшийся из
-лакс (для сравнения
в карел. laksi и
вепс.</p>
      </form>
        </body>
    </html>