<html>
    <head>
      <meta charset="UTF-8">
      <title>information</title>
      <link rel="stylesheet" href="../static/css/city_info_styles.css">

    </head>
    <body>
      <form action=""
            method="POST"
            class="form">

        <h1 class='form_title'>Some information about нюксеница</h1>
        <p>Ню́ксеница — село,
административный
центр Нюксенского
округа Вологодской
области (c 18 апреля
1924 года).
Административный
центр Нюксенского
сельского поселения.
С точки зрения
административно-
территориального
деления входит в
Нюксенский сельсовет
и является его
центром, а также
является центром
Березовского
сельсовета.   ==
Название == Название
Нюксеница получила
от реки Нюксеницы,
делящей село на две
неравные части.   ==
География ==
Расположена на левом
берегу реки Сухоны к
северу от автодороги
А123. Расстояние до
областного центра:
315 км.  Нюксеница —
одно из самых
холодных мест
Вологодской области,
минимум температуры
в городе составляет
−51.3 градусов, что
ниже, чем в Великом
Устюге (-49
градусов) и Вытегре
(-49.4 градусов).
== История == Первое
упоминание в 1619 г.
== Население ==   ==
Культура ==
Нюксенский районный
краеведческий музей
— основан в 1969
году в здании бывшей
школы, а в 1975 году
музей получил статус
районного. Центр
традиционной
народной культуры
(ЦТНК) — В ЦТНК
работают мастерские
по разным
направлениям:
берестоплетению,
ткачеству, вышивке,
народной кукле,
росписи по дереву.</p>
      </form>
        </body>
    </html>