<html>
<head>
  <meta charset="UTF-8">
  <title>Главная страница</title>
  <link rel="stylesheet" href="../static/css/news_page_styles.css">
</head>
<body><form class="form_news" action="https://www.bbc.com/news/world-us-canada-68679930" method="get">
<h4 class='news_titles'>1. Baltimore bridge collapse: Divers find two bodies in submerged truck - BBC.com</h4>
                                    <button class='form_buttons'>Read more</button></form>

<form class="form_news" action="https://www.washingtonpost.com/national-security/2024/03/27/hunter-biden-california-tax-case/" method="get">
<h4 class='news_titles'>2. Judge says Hunter Biden lawyers presented no evidence tax charges are political - The Washington Post</h4>
                                    <button class='form_buttons'>Read more</button></form>

<form class="form_news" action="https://removed.com" method="get">
<h4 class='news_titles'>3. [Removed]</h4>
                                    <button class='form_buttons'>Read more</button></form>

<form class="form_news" action="https://www.reuters.com/world/europe/nearly-100-people-still-missing-after-moscow-attack-russian-news-site-says-2024-03-27/" method="get">
<h4 class='news_titles'>4. Nearly 100 people still missing after Moscow attack, Russian news site says - Reuters</h4>
                                    <button class='form_buttons'>Read more</button></form>

<form class="form_news" action="https://nypost.com/2024/03/27/sports/draymond-green-gets-ejected-just-four-minutes-into-warriors-game/" method="get">
<h4 class='news_titles'>5. Draymond Green gets ejected less than four minutes into Warriors game for jawing with ref - New York Post </h4>
                                    <button class='form_buttons'>Read more</button></form>

<form class="form_news" action="https://www.yahoo.com/news/dethroned-crypto-king-sam-bankman-041821874.html" method="get">
<h4 class='news_titles'>6. Dethroned crypto king Sam Bankman-Fried to be sentenced for defrauding FTX investors - Yahoo! Voices</h4>
                                    <button class='form_buttons'>Read more</button></form>

<form class="form_news" action="https://www.etonline.com/dolly-parton-speaks-out-after-beyonce-reveals-shes-covering-jolene-222519" method="get">
<h4 class='news_titles'>7. Dolly Parton Speaks Out After Beyoncé Reveals She's Covering 'Jolene' - Entertainment Tonight</h4>
                                    <button class='form_buttons'>Read more</button></form>

<form class="form_news" action="https://nypost.com/2024/03/27/us-news/ronna-mcdaniel-talking-with-big-shot-lawyer-after-nbc-news-firing-report/" method="get">
<h4 class='news_titles'>8. Ex-RNC Chair Ronna McDaniel talking with big shot lawyer, considering legal options after NBC News ouster: report - New York Post </h4>
                                    <button class='form_buttons'>Read more</button></form>

<form class="form_news" action="https://www.bbc.com/news/world-middle-east-68675608" method="get">
<h4 class='news_titles'>9. Israel and Hezbollah trade strikes over Lebanon border - BBC.com</h4>
                                    <button class='form_buttons'>Read more</button></form>

<form class="form_news" action="https://apnews.com/article/russia-ukraine-war-zelenskyy-danilov-reshuffle-95ce468c67a40aa5ec022e6c6c5b2bd0" method="get">
<h4 class='news_titles'>10. Russia strikes Ukraine's Kharkiv with aerial bombs for the first time since 2022 - The Associated Press</h4>
                                    <button class='form_buttons'>Read more</button></form>

<form class="form_news" action="https://www.washingtonpost.com/health/2024/03/27/puerto-rico-dengue-fever-epidemic/" method="get">
<h4 class='news_titles'>11. Puerto Rico declares dengue fever an epidemic as cases rise - The Washington Post</h4>
                                    <button class='form_buttons'>Read more</button></form>

<form class="form_news" action="https://www.cnn.com/2024/03/27/us/rockford-illinois-stabbing-home-invasion/index.html" method="get">
<h4 class='news_titles'>12. 4 dead, 7 injured in stabbing rampage in Rockford, Illinois, residential area, authorities say - CNN</h4>
                                    <button class='form_buttons'>Read more</button></form>

<form class="form_news" action="https://www.foxnews.com/politics/former-watergate-prosecutor-trump-gag-order-unusual-never-happens" method="get">
<h4 class='news_titles'>13. Former Watergate prosecutor calls Trump gag order ‘so unusual’: ‘This never happens’ - Fox News</h4>
                                    <button class='form_buttons'>Read more</button></form>

<form class="form_news" action="https://apnews.com/article/john-eastman-donald-trump-2020-election-0041abb4a644638d916f3b5ad9006bdf" method="get">
<h4 class='news_titles'>14. Ex-Trump lawyer Eastman should lose state law license for efforts to overturn election, judge says - The Associated Press</h4>
                                    <button class='form_buttons'>Read more</button></form>

<form class="form_news" action="https://wtop.com/dc/2024/03/alexandria-says-capitals-wizards-arena-deal-is-dead/" method="get">
<h4 class='news_titles'>15. DC reaches deal to keep Capitals, Wizards at Capital One Arena until 2050 after Va. agreement falls apart - WTOP</h4>
                                    <button class='form_buttons'>Read more</button></form>

<form class="form_news" action="https://www.marketwatch.com/story/ending-6-commissions-could-create-a-venus-flytrap-situation-for-home-buyers-economist-says-7183a706" method="get">
<h4 class='news_titles'>16. Ending 6% commissions could create a ‘Venus flytrap’ for home buyers: economist - MarketWatch</h4>
                                    <button class='form_buttons'>Read more</button></form>

<form class="form_news" action="https://www.macrumors.com/2024/03/27/google-maps-ai-tools-list-updates/" method="get">
<h4 class='news_titles'>17. Google Maps Gains New AI Tools, Updated Recommendation Lists and More - MacRumors</h4>
                                    <button class='form_buttons'>Read more</button></form>

<form class="form_news" action="https://www.nbcsports.com/nfl/profootballtalk/rumor-mill/news/jayden-daniels-drew-a-large-crowd-of-nfl-talent-evaluators-at-lsus-pro-day" method="get">
<h4 class='news_titles'>18. Jayden Daniels drew a large crowd of NFL talent evaluators to LSU's Pro Day - NBC Sports</h4>
                                    <button class='form_buttons'>Read more</button></form>

<form class="form_news" action="https://nypost.com/2024/03/27/us-news/meet-the-nj-liquor-store-clerk-who-sold-1-13b-mega-millions-ticket/" method="get">
<h4 class='news_titles'>19. Meet the NJ liquor store clerk who sold $1.13B Mega Millions ticket - New York Post </h4>
                                    <button class='form_buttons'>Read more</button></form>

<form class="form_news" action="https://www.nasaspaceflight.com/2024/03/delta-iv-final-flight/" method="get">
<h4 class='news_titles'>20. Delta IV to make final flight with NROL-70 mission - NASASpaceFlight.com - NASASpaceflight.com</h4>
                                    <button class='form_buttons'>Read more</button></form>

</body></html>