
                   <html>
                   <head>
                       <title>Weather</title>
                       <meta charset='UTF-8'>
                       <link rel="stylesheet" href="../static/css/temp_styles.css">
                   </head>
                   <body>
                       <form class='form'>
                       <h1>Error with cod 404</h1>
                       <h2>Возможно, вы неправильно ввели город</h2>
                       <h2>Попробуйте еще раз</h2>
                       </form>
                   </body>
                   </html>
                   