
        <html>
        <head>
            <title>Weather</title>
            <meta charset='UTF-8'>
            <link rel="stylesheet" href="../static/css/weather_forecast_styles.css">
        </head>
        <body><form class="first_weather_form"><div class="first_div"><h2 id="first_title">Прогноз на 2024-03-28:</h2><br><b>00:00:00:</b><br>
           Температура: -3.1<br>
           Ощущается как: -3.1<br>
           Влажность: 94%<br><b>03:00:00:</b><br>
           Температура: -4.72<br>
           Ощущается как: -4.72<br>
           Влажность: 94%<br><b>06:00:00:</b><br>
           Температура: -2.38<br>
           Ощущается как: -2.38<br>
           Влажность: 80%<br><b>09:00:00:</b><br>
           Температура: 0.67<br>
           Ощущается как: -0.86<br>
           Влажность: 78%<br><b>12:00:00:</b><br>
           Температура: 0.95<br>
           Ощущается как: -1.04<br>
           Влажность: 77%<br><b>15:00:00:</b><br>
           Температура: -0.28<br>
           Ощущается как: -2.14<br>
           Влажность: 81%<br><b>18:00:00:</b><br>
           Температура: -0.55<br>
           Ощущается как: -0.55<br>
           Влажность: 78%<br><b>21:00:00:</b><br>
           Температура: -4.03<br>
           Ощущается как: -6.13<br>
           Влажность: 94%<br></div></form><form class="second_weather_form"> <div class="second_div"><h2 id="second_title">Прогноз на 2024-03-29</h2><br><b>00:00:00:</b><br>
           Температура: -3.62<br>
           Ощущается как: -7.56<br>
           Влажность: 91%<br><b>03:00:00:</b><br>
           Температура: -1.47<br>
           Ощущается как: -5.75<br>
           Влажность: 87%<br><b>06:00:00:</b><br>
           Температура: 1.73<br>
           Ощущается как: -2.18<br>
           Влажность: 85%<br><b>09:00:00:</b><br>
           Температура: 5.26<br>
           Ощущается как: 1.63<br>
           Влажность: 79%<br><b>12:00:00:</b><br>
           Температура: 6.13<br>
           Ощущается как: 2.95<br>
           Влажность: 78%<br><b>15:00:00:</b><br>
           Температура: 4.46<br>
           Ощущается как: 1.5<br>
           Влажность: 89%<br><b>18:00:00:</b><br>
           Температура: 3.13<br>
           Ощущается как: -0.47<br>
           Влажность: 92%<br><b>21:00:00:</b><br>
           Температура: 3.3<br>
           Ощущается как: 0.03<br>
           Влажность: 93%<br></div></form><form class="third_weather_form"><div class="third_div"><h2 id="third_title">Прогноз на 2024-03-30</h2><br><b>00:00:00:</b><br>
           Температура: 2.94<br>
           Ощущается как: -0.11<br>
           Влажность: 95%<br><b>03:00:00:</b><br>
           Температура: 2.67<br>
           Ощущается как: -0.11<br>
           Влажность: 97%<br><b>06:00:00:</b><br>
           Температура: 2.49<br>
           Ощущается как: -0.15<br>
           Влажность: 98%<br><b>09:00:00:</b><br>
           Температура: 3.14<br>
           Ощущается как: 0.73<br>
           Влажность: 99%<br><b>12:00:00:</b><br>
           Температура: 3.13<br>
           Ощущается как: 0.2<br>
           Влажность: 98%<br><b>15:00:00:</b><br>
           Температура: 3.43<br>
           Ощущается как: 0.03<br>
           Влажность: 98%<br><b>18:00:00:</b><br>
           Температура: 4.28<br>
           Ощущается как: 0.48<br>
           Влажность: 95%<br><b>21:00:00:</b><br>
           Температура: 3.87<br>
           Ощущается как: -0.09<br>
           Влажность: 93%<br></div></form><form class="fourth_weather_form"><div class="fourth_div"><h2 id="fourth_title">Прогноз на 2024-03-31</h2><br><b>00:00:00:</b><br>
           Температура: 4.03<br>
           Ощущается как: 0.06<br>
           Влажность: 93%<br><b>03:00:00:</b><br>
           Температура: 5.43<br>
           Ощущается как: 1.97<br>
           Влажность: 92%<br><b>06:00:00:</b><br>
           Температура: 5.06<br>
           Ощущается как: 1.43<br>
           Влажность: 85%<br><b>09:00:00:</b><br>
           Температура: 4.03<br>
           Ощущается как: 0.06<br>
           Влажность: 82%<br><b>12:00:00:</b><br>
           Температура: 4.16<br>
           Ощущается как: 0.4<br>
           Влажность: 77%<br><b>15:00:00:</b><br>
           Температура: 1.12<br>
           Ощущается как: -3.13<br>
           Влажность: 79%<br><b>18:00:00:</b><br>
           Температура: -1.7<br>
           Ощущается как: -4.65<br>
           Влажность: 91%<br><b>21:00:00:</b><br>
           Температура: -2.71<br>
           Ощущается как: -2.71<br>
           Влажность: 96%<br></div></form></body></html>