
        <html>
        <head>
            <title>Weather</title>
            <meta charset='UTF-8'>
            <link rel="stylesheet" href="../static/css/weather_forecast_styles.css">
        </head>
        <body><form class="first_weather_form"><div class="first_div"><h2 id="first_title">Прогноз на 2024-03-27:</h2><br><b>18:00:00:</b><br>
           Температура: 9.37<br>
           Ощущается как: 6.81<br>
           Влажность: 73%<br><b>21:00:00:</b><br>
           Температура: 7.73<br>
           Ощущается как: 5.27<br>
           Влажность: 81%<br></div></form><form class="second_weather_form"> <div class="second_div"><h2 id="second_title">Прогноз на 2024-03-28</h2><br><b>00:00:00:</b><br>
           Температура: 7.81<br>
           Ощущается как: 4.39<br>
           Влажность: 83%<br><b>03:00:00:</b><br>
           Температура: 7.65<br>
           Ощущается как: 3.67<br>
           Влажность: 87%<br><b>06:00:00:</b><br>
           Температура: 4.55<br>
           Ощущается как: 0.2<br>
           Влажность: 81%<br><b>09:00:00:</b><br>
           Температура: 7.81<br>
           Ощущается как: 4.13<br>
           Влажность: 72%<br><b>12:00:00:</b><br>
           Температура: 7.72<br>
           Ощущается как: 3.65<br>
           Влажность: 78%<br><b>15:00:00:</b><br>
           Температура: 10.09<br>
           Ощущается как: 9.03<br>
           Влажность: 72%<br><b>18:00:00:</b><br>
           Температура: 9.25<br>
           Ощущается как: 5.14<br>
           Влажность: 73%<br><b>21:00:00:</b><br>
           Температура: 8.14<br>
           Ощущается как: 3.86<br>
           Влажность: 78%<br></div></form><form class="third_weather_form"><div class="third_div"><h2 id="third_title">Прогноз на 2024-03-29</h2><br><b>00:00:00:</b><br>
           Температура: 8.02<br>
           Ощущается как: 4.23<br>
           Влажность: 80%<br><b>03:00:00:</b><br>
           Температура: 7.72<br>
           Ощущается как: 4.5<br>
           Влажность: 84%<br><b>06:00:00:</b><br>
           Температура: 7.46<br>
           Ощущается как: 4.31<br>
           Влажность: 86%<br><b>09:00:00:</b><br>
           Температура: 9.71<br>
           Ощущается как: 6.77<br>
           Влажность: 77%<br><b>12:00:00:</b><br>
           Температура: 11.07<br>
           Ощущается как: 10.16<br>
           Влажность: 74%<br><b>15:00:00:</b><br>
           Температура: 11.75<br>
           Ощущается как: 10.73<br>
           Влажность: 67%<br><b>18:00:00:</b><br>
           Температура: 10.1<br>
           Ощущается как: 9.12<br>
           Влажность: 75%<br><b>21:00:00:</b><br>
           Температура: 8.24<br>
           Ощущается как: 5.9<br>
           Влажность: 82%<br></div></form><form class="fourth_weather_form"><div class="fourth_div"><h2 id="fourth_title">Прогноз на 2024-03-30</h2><br><b>00:00:00:</b><br>
           Температура: 7.73<br>
           Ощущается как: 5.4<br>
           Влажность: 87%<br><b>03:00:00:</b><br>
           Температура: 7.34<br>
           Ощущается как: 5.62<br>
           Влажность: 86%<br><b>06:00:00:</b><br>
           Температура: 6.55<br>
           Ощущается как: 5.55<br>
           Влажность: 89%<br><b>09:00:00:</b><br>
           Температура: 9.89<br>
           Ощущается как: 8.56<br>
           Влажность: 72%<br><b>12:00:00:</b><br>
           Температура: 13.48<br>
           Ощущается как: 12.14<br>
           Влажность: 48%<br><b>15:00:00:</b><br>
           Температура: 13.67<br>
           Ощущается как: 12.32<br>
           Влажность: 47%<br><b>18:00:00:</b><br>
           Температура: 10.97<br>
           Ощущается как: 9.85<br>
           Влажность: 66%<br><b>21:00:00:</b><br>
           Температура: 8.56<br>
           Ощущается как: 6.67<br>
           Влажность: 78%<br></div></form></body></html>