
        <html>
        <head>
            <title>Weather</title>
            <meta charset='UTF-8'>
            <link rel="stylesheet" href="../static/css/weather_forecast_styles.css">
        </head>
        <body><form class="first_weather_form"><div class="first_div"><h2 id="first_title">Прогноз на 2024-03-28:</h2><br><b>00:00:00:</b><br>
           Температура: -0.77<br>
           Ощущается как: -0.77<br>
           Влажность: 92%<br><b>03:00:00:</b><br>
           Температура: -0.81<br>
           Ощущается как: -2.77<br>
           Влажность: 96%<br><b>06:00:00:</b><br>
           Температура: 0.92<br>
           Ощущается как: -1.75<br>
           Влажность: 91%<br><b>09:00:00:</b><br>
           Температура: 2.4<br>
           Ощущается как: 0.35<br>
           Влажность: 80%<br><b>12:00:00:</b><br>
           Температура: 2.85<br>
           Ощущается как: 1.67<br>
           Влажность: 78%<br><b>15:00:00:</b><br>
           Температура: 1.15<br>
           Ощущается как: 1.15<br>
           Влажность: 92%<br><b>18:00:00:</b><br>
           Температура: 0.31<br>
           Ощущается как: -2.06<br>
           Влажность: 92%<br><b>21:00:00:</b><br>
           Температура: 0.57<br>
           Ощущается как: -2.19<br>
           Влажность: 94%<br></div></form><form class="second_weather_form"> <div class="second_div"><h2 id="second_title">Прогноз на 2024-03-29</h2><br><b>00:00:00:</b><br>
           Температура: -0.13<br>
           Ощущается как: -3.74<br>
           Влажность: 94%<br><b>03:00:00:</b><br>
           Температура: 0.23<br>
           Ощущается как: -3.55<br>
           Влажность: 92%<br><b>06:00:00:</b><br>
           Температура: 3.08<br>
           Ощущается как: -0.76<br>
           Влажность: 89%<br><b>09:00:00:</b><br>
           Температура: 5.68<br>
           Ощущается как: 2.43<br>
           Влажность: 84%<br><b>12:00:00:</b><br>
           Температура: 6.78<br>
           Ощущается как: 3.95<br>
           Влажность: 86%<br><b>15:00:00:</b><br>
           Температура: 5.12<br>
           Ощущается как: 2.2<br>
           Влажность: 90%<br><b>18:00:00:</b><br>
           Температура: 3.9<br>
           Ощущается как: 0.5<br>
           Влажность: 92%<br><b>21:00:00:</b><br>
           Температура: 3.8<br>
           Ощущается как: 0.48<br>
           Влажность: 94%<br></div></form><form class="third_weather_form"><div class="third_div"><h2 id="third_title">Прогноз на 2024-03-30</h2><br><b>00:00:00:</b><br>
           Температура: 3.5<br>
           Ощущается как: 0.63<br>
           Влажность: 97%<br><b>03:00:00:</b><br>
           Температура: 3.07<br>
           Ощущается как: 0.33<br>
           Влажность: 98%<br><b>06:00:00:</b><br>
           Температура: 3.25<br>
           Ощущается как: 0.24<br>
           Влажность: 98%<br><b>09:00:00:</b><br>
           Температура: 3.39<br>
           Ощущается как: 0.29<br>
           Влажность: 98%<br><b>12:00:00:</b><br>
           Температура: 4.53<br>
           Ощущается как: 1.3<br>
           Влажность: 98%<br><b>15:00:00:</b><br>
           Температура: 4<br>
           Ощущается как: 0.66<br>
           Влажность: 98%<br><b>18:00:00:</b><br>
           Температура: 3.76<br>
           Ощущается как: 0.01<br>
           Влажность: 97%<br><b>21:00:00:</b><br>
           Температура: 4.12<br>
           Ощущается как: 0.58<br>
           Влажность: 94%<br></div></form><form class="fourth_weather_form"><div class="fourth_div"><h2 id="fourth_title">Прогноз на 2024-03-31</h2><br><b>00:00:00:</b><br>
           Температура: 5.25<br>
           Ощущается как: 1.49<br>
           Влажность: 91%<br><b>03:00:00:</b><br>
           Температура: 5.8<br>
           Ощущается как: 2.06<br>
           Влажность: 90%<br><b>06:00:00:</b><br>
           Температура: 5.06<br>
           Ощущается как: 1.52<br>
           Влажность: 86%<br><b>09:00:00:</b><br>
           Температура: 5.1<br>
           Ощущается как: 1.46<br>
           Влажность: 76%<br><b>12:00:00:</b><br>
           Температура: 4.88<br>
           Ощущается как: 1.24<br>
           Влажность: 71%<br><b>15:00:00:</b><br>
           Температура: 3.37<br>
           Ощущается как: 0.14<br>
           Влажность: 71%<br><b>18:00:00:</b><br>
           Температура: 1.65<br>
           Ощущается как: 0.1<br>
           Влажность: 83%<br><b>21:00:00:</b><br>
           Температура: -1.22<br>
           Ощущается как: -3.61<br>
           Влажность: 95%<br></div></form></body></html>